@import "tailwindcss";

@theme {
    /* COLOR PALETTE */
    --color-black-main: #161719;
    --color-black-light: #1d1e20;
    --color-black-highlight: #1c1d1fff;
    --color-icon-bg: #27292B;
    --color-secondary: #848484;
    --color-highlight: #D9D9D9;
    /* --color-gray-inactive: #9E9E9E; */


    /* INSIDE SHADOW */
    --shadow-layered-in-md:
        inset 2px 3px 5px rgba(0, 0, 0, 0.25),
        inset -3px -3px 5px rgba(255, 255, 255, 0.11);

    /* OUTSIDE SHADOW */
    --shadow-layered-out-md:
        2px 3px 5px rgba(0, 0, 0, 0.04),
        4px 4px 10px rgba(0, 0, 0, 0.25),
        -2px -2px 6px rgba(255, 255, 255, 0.05),
        -4px -4px 8px rgba(255, 255, 255, 0.07);
    
    --shadow-layered-out-lg:
        /* highlight */
        /* -3px -3px 8px rgba(255, 255, 255, 0.02),
        -8px -8px 14px rgba(255, 255, 255, 0.06),
        -14px -14px 18px rgba(255, 255, 255, 0.02); */
        
        /* -6px -6px 6px rgba(255, 255, 255, 0.02),
        -10px -10px 8px rgba(255, 255, 255, 0.03),
        -16px -16px 16px rgba(255, 255, 255, 0.02); */

        -4px -4px 4px rgba(255, 255, 255, 0.02),
        -8px -8px 3px rgba(255, 255, 255, 0.03),
        -10px -10px 6px rgba(255, 255, 255, 0.02),
        
        /* shadow */
        /* 10px 10px 8px rgba(0, 0, 0, 0.16),
        14px 14px 8px rgba(0, 0, 0, 0.14),
        16px 16px 22px rgba(0, 0, 0, 0.15); */
        
        6px 6px 4px rgba(0, 0, 0, 0.16),
        10px 10px 4px rgba(0, 0, 0, 0.14),
        12px 12px 8px rgba(0, 0, 0, 0.15);

    --shadow-layered-out-xl:
        /* highlight */
        -6px -6px 6px rgba(255, 255, 255, 0.02),
        -10px -10px 8px rgba(255, 255, 255, 0.03),
        -16px -16px 16px rgba(255, 255, 255, 0.02),
        
        /* shadow */
        10px 10px 8px rgba(0, 0, 0, 0.16),
        14px 14px 8px rgba(0, 0, 0, 0.14),
        16px 16px 22px rgba(0, 0, 0, 0.15);

        /* HIGHLIGHT SHADOWS */
    --shadow-layered-highlight-md:
        inset 3px 4px 6px rgba(255, 255, 255, 0.05),
        inset 4px 4px 8px rgba(255, 255, 255, 0.07),
        inset -4px -4px 6px rgba(0, 0, 0, 0.04),
        inset -6px -6px 8px rgba(0, 0, 0, 0.25),
        2px 3px 5px rgba(0, 0, 0, 0.04),
        4px 4px 10px rgba(0, 0, 0, 0.25),
        -2px -2px 6px rgba(255, 255, 255, 0.05),
        -4px -4px 8px rgba(255, 255, 255, 0.07);

        
    --shadow-layered-highlight:
        inset 3px 4px 6px rgba(255, 255, 255, 0.05),
        inset 4px 4px 8px rgba(255, 255, 255, 0.07),
        inset -4px -4px 6px rgba(0, 0, 0, 0.04),
        inset -6px -6px 8px rgba(0, 0, 0, 0.25),
        2px 3px 5px rgba(0, 0, 0, 0.04),
        4px 4px 10px rgba(0, 0, 0, 0.25),
        -4px -4px 8px rgba(255, 255, 255, 0.05);
    
    --font-geist: "Geist Mono", monospace;
    --font-urbanist: "Urbanist", sans-serif;
}